input[type=text] {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus {  
  background-color: orange;  
  outline: none;  
}  

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:  'Roboto', 'Oxygen','Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, 'Courier New',
    monospace;
}

button[disabled] {
  background-color: lightgray !important;
  cursor: not-allowed;
}

.primary-button {
  border: none;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
}

.secondary-button {
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  border-radius: 150px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.custom-button {
  background-color: #61fb7b;
  color: black;
}